[submodule "openclaws"]
	path = openclaws
	url = https://github.com/assistarmy2024/openclaws.git
[submodule "awesome-copilot"]
	path = awesome-copilot
	url = https://github.com/assistarmy2024/awesome-copilot.git
[submodule "zeroclaw"]
	path = zeroclaw
	url = https://github.com/openagen/zeroclaw.git
